.i-main {
    @include flexwrap;
    background-color: $fondo;
    background-size: cover;
    text-align: center;
    padding: 5px;

    div {
    @include flexwrap;
    height: 100vh;

        h2 {
        margin-top: 2em;
        margin-left: 1em;

        p {
        text-align: center;
        margin-top: 60px;
        margin: 10px;
        height: 40em;
        padding-top: 20px;

}}}}
.i-aside {
    background: rgb(145, 166, 175);
    flex-basis: 200px;

    div {
       text-align: center;
    
        video {
        width: 18em;
        height: 18em;
        margin: 20px;

}}}