@media screen and (min-width:900px) {
    .conteiner {
        display: grid;
        grid-template-rows: 9em repeat(3, 1fr) 5em;
        grid-template-columns: repeat(3, 1fr);
    }

    .header {
        grid-column: 1 / span 3;
        font-size: 30px;
    }

    .n-main {
        grid-row: 2 / 6;
        grid-column: 1 / 4;
    }

    .t-main {
        grid-row: 2 / 6;
        grid-column: 1 / 4;
    }

    .s-main {
        grid-row: 2 / 6;
        grid-column: 1 / 4;
    }

    .i-main {
        grid-row: 2 / 6;
        grid-column: 1 / 2;

    }

    .i-aside {
        grid-row: 2 / 6;
        grid-column: 2/ 4;
    }
   
    .footer {
        grid-row: 6 / 7;
        grid-column: 1 / span 3;
    }
} 

@media screen and (max-width:768px) {
    .opinion{
    display:flex;
    flex-wrap: wrap;
    }
    .formularios{
        display:flex;
        flex-wrap: wrap;
    }
    .n-div{
        display: flex;
        flex-wrap: wrap;
    } 
   
    .n-div2{
        display: flex;
        flex-wrap: wrap;
    }
    .textovideo{
        display: flex;
        flex-wrap: wrap;
    }
}