.n-main {
    background: url(../multimedia/entradafrente.jpg);
    background-size: cover;
}

.n-h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.n-div {
display: flex;
flex-direction: row;

    .n-div1-img {
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 19em;
        height: 27em;
        border-radius: 5%;
    }

    h3 {
        margin-left: 10px;
        margin-bottom: 15px;
        font-weight: 400;
        
    }

    p {
        background-color: rgba(238, 238, 226, 0.452);
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 400;
        border-radius: 15px;
        padding: 10px;
       
    }
}



.n-div2 {
    display: flex;
    flex-direction: row;
    
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;

    .n-div2-img {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        width: 20em;
        height: 23em;
        border-radius: 5%;
    }

    h3 {
        margin-left: 10px;
        margin-bottom: 15px;
        font-weight: 400;
       

    }

    p {
        text-align: left;
        margin-left: 10px;
        margin-bottom: 20px;
        font-weight: 400;
        padding: 10px;
        background-color: rgba(238, 238, 226, 0.452);
        border-radius: 15px;
       
        
        
    }
}